*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: black;
	color: white;
	background-color: #100324;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%231bd0a8' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}

a{
	color: white;
	text-decoration: none;
}

ul{
	list-style: none;
}

.container{
	width: 90%;
	margin: auto;
}

/* Navigation */

.nav-main{
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px, 0px;
}

.nav-brand{
	width: 50px;
}

/* nav left */

.nav-main ul {
	display: flex;
}

.nav-main ul li{
	padding: 15px;
}

.nav-main ul li a{
	padding: 2px;
}


.nav-main ul li a:hover{
	border-bottom: 2px solid white;
}


.nav-main ul.nav-menu{
	flex: 1;
	margin-left: 20px;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

/*SHOWCASE*/



hr{
	margin: 10px 0;	
}

.showcase{
	width: 100%;
	height: 380px;
	background: url('./img/showcase.jpg')no-repeat center center/cover;
	padding: 50px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: flex-end;
}
.btn{
	cursor: pointer;
	display: inline-block;
	border: 0;
	font-weight: bold;
	padding:10px 20px;
	background: #262626:
	color: white;
	font-size: 15px;
	border: 1px solid white;
	margin: 10px 0px;
}

.btn:hover {
	opacity: .7;
}

.showcase h2
.showcase p{
	margin-bottom: 20px;
}

/*News Cards*/

.news-cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 25px;
	margin: 10px 0px;
}

.news-cards img{
	width: 100%;
	height: 180px;
}

.news-cards h3{
	font-size: 20px;
	margin: 10px 0;
}

.news-cards a{
	padding: 10px 0;
	color: #f2f2f2;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}

.news-cards a:hover{
	text-decoration: underline
}
/*Cards Banner one*/

.cards-banner-one{
	width: 100%;
	height: 200px;
	background: url('./img/banner7.jpg')no-repeat center center/cover;
	margin-bottom: 40px;
}

.cards-banner-one .content{
	width:40%;
	padding: 15px 0 0 30px;
	color: white;
}
.cards-banner-one p,
.cards-banner-one h2{
	margin: 5px 0 10px 0;
}

/*Cards Banner two*/

.cards-banner-two{
	width: 100%;
	height: 200px;
	background: url('./img/banner7.jpg')no-repeat center center/cover;
	margin-bottom: 40px;
}


.cards-banner-two .content{
	width:40%;
	padding: 15px 0 0 30px;
	color: white;
}
.cards-banner-two p,
.cards-banner-two h2{
	margin: 5px 0 10px 0;
}

/*Social*/

.social{
	margin: 50px;
}

.social p{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.links{
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.links a{
	margin: 0 30px; 
}

.links a i{
	font-size: 3rem;
}

/* FOOTER LINKS */

.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.3; 
}

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px){
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
}
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
        
    }
    .nav-main ul.nav-menu{
        padding: 20px;
        font-size: 14px;
    }
    
    .news-cards{
        grid-template-columns: 1fr 1fr;
        
    }
    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 80%;
    }
    .footer-links .footer-container{
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 500px){
    .new-cards{
        grid-template-columns: 1fr;
    }
    .news-cards img{
        height: 270px;
    }
    
    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 100%;
        padding: 60px, 20px, 
        
    }
    .footer-links .footer-container{
        grid-template-columns: 1fr;
    }
}




